/*  Fondos  */

body{
    background-color: #263238;
}
p{
    color: #eeeeee;
}

div{
    color: #eeeeee;
}

input{
    color: #eeeeee;
}

textarea{

    background: #2D2D2D;
    color: #eeeeee;
    vertical-align: center;
    width: 100%;
}

footer{
    background-color: #000a12;
    color: #eeeeee;
}

a:link {
    color: #ff7f3a;
}

a:hover {
    color: #66D9EF;
}
