/*  Fondos  */

body{
    background-color: #272822;
}
p{
    color: #eeeeee;
}

div{
    color: #eeeeee;
}

input{
    color: #eeeeee;
}

textarea{
    border: 1px solid #ff7f3a;
    background: #2D2D2D;
    color: #eeeeee;
    vertical-align: center;
    width: 100%;
}

footer{
    bottom: 0;
    position: relative;
    width: 100%;
    background-color: #0F0E0F;
    color: #eeeeee;
}

footer > p{
    text-align: center;
    font-size:xx-small;
}

a:link {
    color: #ff7f3a;
}

a:hover {
    color: #66D9EF;
}
