table {
    width: 100%;
    border: 1px solid #ff7f3a;
    background: #272822;
}

th, td {
    text-align: left;
    vertical-align: center;
    border: 1px solid #ff7f3a;
    border-spacing: 0;
}

th{
    text-align: center;
    vertical-align: center;
    color: #eeeeee;
    background: #616161
}

td{
    color: #eeeeee;
}

tr:nth-child(odd) {
    background-color:#272822;
}

tr:nth-child(even) {
    background-color:#272822;
}

tr:hover {
    background-color:#616161;
    color: #42f4aa;
}

#tabScan{
    width: 40%;
    color: #E21B46;
    text-align: center;
    font-size: larger;
    font-weight:bold;
}

#ioMen{
    width: 10%;
    color: #E6DB74;
    text-align: right;
}

#ioMay{
    width: 10%;
    color: #E21B46;
    text-align: right;
    font-size: larger;
    font-weight:bold;
}

#ioNor{
    width: 10%;
    text-align: right;
    font-size: small;
}

#linea{
    width: 10%;
    color: #66D9EF;
    text-align: right;
    font-weight:bold;
}